# Python Basics 02
## Exercise 02

### Lists

#### First List
- Store the values 'python', 'c', and 'java' in a list. Print each of these values out, using their position in the list.

#### First Neat List
- Store the values 'python', 'c', and 'java' in a list. Print a statement about each of these values, using their position in the list.
- Your statement could simply be, 'A nice programming language is *value*.'

In [2]:
#YOUR CODE HERE

flist=['python','c','java']
print(flist[0])
print(flist[1])
print('A nice programming language is '+str(flist[1])+flist[2])

python
c
A nice programming language is cjava

#### Working List
- Make a list that includes four careers, such as 'programmer' and 'truck driver'.
- Use the *list.index()* function to find the index of one career in your list.
- Use the *in* function to show that this career is in your list.
- Use the *append()* function to add a new career to your list.
- Use the *insert()* function to add a new career at the beginning of the list.
- Use a loop to show all the careers in your list.

In [3]:
carrer=['programmer','truck','business','student']
print(carrer)
#help(list.index)
ind=carrer.index("truck")
print(ind)
x='truck' in carrer
print(x)
print('programmer' in carrer)
carrer.append("barber")
print(carrer)
carrer.insert(0,"analyst")
print(carrer)
print("start")
i=0
length=len(carrer)
print(length)
while i<length:
    print(carrer[i])
    i+=1
print("\nUsing FOR LOOP\n")
for i in carrer:print(i)

['programmer', 'truck', 'business', 'student']
1
True
True
['programmer', 'truck', 'business', 'student', 'barber']
['analyst', 'programmer', 'truck', 'business', 'student', 'barber']
start
6
analyst
programmer
truck
business
student
barber

Using FOR LOOP

analyst
programmer
truck
business
student
barber

#### Ordered Working List
- Start with the list you created in *Working List*.
- You are going to print out the list in a number of different orders.
- Each time you print the list, use a for loop rather than printing the raw list.
- Print a message each time telling us what order we should see the list in.
    - Print the list in its original order.
    - Print the list in

In [41]:
print(carrer)

['analyst', 'programmer', 'truck', 'business', 'student', 'barber']

#### alphabetical order.
    - Print the list in reverse alphabetical order.
    - Print the list in the reverse order from what it started.
    - Permanently sort the list in alphabetical order, and then print it out.
    - Permanently sort the list in reverse alphabetical order, and then print it out.

In [4]:
print(carrer)
j=0
for i in carrer:
    print(carrer[j])
    j+=1

['analyst', 'programmer', 'truck', 'business', 'student', 'barber']
analyst
programmer
truck
business
student
barber

In [5]:
    
k=len(carrer)-1
for i in carrer:
    print(carrer[k])
    k-=1

barber
student
business
truck
programmer
analyst

In [6]:
print(sorted(carrer))
print(sorted(carrer,reverse=True))

['analyst', 'barber', 'business', 'programmer', 'student', 'truck']
['truck', 'student', 'programmer', 'business', 'barber', 'analyst']

In [7]:
carrer

['analyst', 'programmer', 'truck', 'business', 'student', 'barber']

In [8]:
carrer.sort()

In [9]:
carrer

['analyst', 'barber', 'business', 'programmer', 'student', 'truck']

In [10]:
carrer=['analyst', 'programmer', 'truck', 'business', 'student', 'barber']
sorted(carrer,reverse=True)
print(carrer)

['analyst', 'programmer', 'truck', 'business', 'student', 'barber']

In [11]:
carrer=['analyst', 'programmer', 'truck', 'business', 'student', 'barber']
carrer.sort(reverse=True)
print(carrer)

['truck', 'student', 'programmer', 'business', 'barber', 'analyst']

#### Ordered Numbers
- Make a list of 5 numbers, in a random order.
- You are going to print out the list in a number of different orders.
- Each time you print the list, use a for loop rather than printing the raw list.
- Print a message each time telling us what order we should see the list in.
    - Print the numbers in the original order.
    - Print the numbers in increasing order.
    - Print the numbers in decreasing order.
    - Print the numbers in the reverse order from how they started.
    - Permanently sort the numbers in increasing order, and then print them out.
    - Permanently sort the numbers in descreasing order, and then print them out.

In [108]:
num=[10,2,13,34,9]
print(num)
print("Print the numbers in the original order.")
for i in num:
    print(i)

print("Print the numbers in increasing order.")
print(sorted(num))
#help(sorted)
print("Print the numbers in decreasing order.")
print(sorted(num,reverse=True))

print("Print the numbers in the reverse order from how they started.")
#help(reversed)
print(reversed(num))

for i in num:
    print(i)

num.sort(reverse=True)
for i in num:
    print(i)

[10, 2, 13, 34, 9]
Print the numbers in the original order.
10
2
13
34
9
Print the numbers in increasing order.
[2, 9, 10, 13, 34]
Print the numbers in decreasing order.
[34, 13, 10, 9, 2]
Print the numbers in the reverse order from how they started.
<list_reverseiterator object at 0x0000000004DA90B8>
10
2
13
34
9
34
13
10
9
2

#### List Lengths


- Copy two or three of the lists you made from the previous exercises, or make up two or three new lists.
- Print out a series of statements that tell us how long each list is.

In [17]:
l1=[1,2,3,4,5,6]
l2=['asasd','ds','z',2,3]
print(len(l1))
# print(l2.len())

6

#### Famous People
- Make a list that includes the names of four famous people.
- Remove each person from the list, one at a time, using each of the four methods we have just seen:
    - Pop the last item from the list, and pop any item except the last item.
    - Remove one item by its position, and one item by its value.
- Print out a message that there are no famous people left in your list, and print your list to prove that it is empty.

In [1]:
famous=['ram','sham','lam','tam','nam']
print(famous)
famous.remove('ram')
print(famous)
famous.pop(1)#or use del famous(0)
print(famous)

['ram', 'sham', 'lam', 'tam', 'nam']
['sham', 'lam', 'tam', 'nam']
['sham', 'tam', 'nam']

#### Alphabet Slices
- Store the first ten letters of the alphabet in a list.
- Use a slice to print out the first three letters of the alphabet.
- Use a slice to print out any three letters from the middle of your list.
- Use a slice to print out the letters from any point in the middle of your list, to the end.

In [2]:
alphabet=['a','b','c','d','e','f','g','h','i','j']
print(alphabet[:3])
print(alphabet[4:7])
print(alphabet[5:])

#to get the length

print(len(alphabet))

['a', 'b', 'c']
['e', 'f', 'g']
['f', 'g', 'h', 'i', 'j']
10

#### Protected List
- Your goal in this exercise is to prove that copying a list protects the original list.
- Make a list with three people's names in it.
- Use a slice to make a copy of the entire list.
- Add at least two new names to the new copy of the list.
- Make a loop that prints out all of the names in the original list, along with a message that this is the original list.
- Make a loop that prints out all of the names in the copied list, along with a message that this is the copied list.

In [2]:
name=['ram','sham','lam']
name1=name[:]#to make a new copy not the address
name1.extend(['tam','nam'])#can also use append
print(name1)

for i in name:
    print('original= '+i)
    
for i in name1:
    print('new= '+i)

#The list below is not protected, must insure this    
name=['ram','sham','lam']
name1=name
name1.extend(['tam','nam'])
print(name1)
print(name)

['ram', 'sham', 'lam', 'tam', 'nam']
original= ram
original= sham
original= lam
new= ram
new= sham
new= lam
new= tam
new= nam
['ram', 'sham', 'lam', 'tam', 'nam']
['ram', 'sham', 'lam', 'tam', 'nam']

#### First Twenty
- Use the *range()* function to store the first twenty numbers (1-20) in a list, and print them out.

#### Five Wallets
- Imagine five wallets with different amounts of cash in them. Store these five values in a list, and print out the following sentences:
    - "The fattest wallet has $ *value* in it."
    - "The skinniest wallet has $ *value* in it."
    - "All together, these wallets have $ *value* in them."

In [4]:
#help(range)
rng=list(range(1,21))
print(rng)

#for i in rng:
#    print(i)
    
wallet=[20,45,10,500,43]
print("The fattest wallet has  " + str(max(wallet)))
print("The fattest wallet has  " + str(max(wallet)))
print("Theskinniestwallethas    " + str(min(wallet)))
print("total = " +str(sum(wallet)))

format='total is $%d'
format %(sum(wallet))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
The fattest wallet has  500
The fattest wallet has  500
Theskinniestwallethas    10
total = 618

'total is $618'

In [5]:
wallet=[20,45,10,500,43]
print("The fattest wallet has  " , str(max(wallet)))
print("The fattest wallet has  " , str(max(wallet)))
print("Theskinniestwallethas    " , str(min(wallet)))
print("total = " +str(sum(wallet)))

format='total is $%d'
format %(sum(wallet))

The fattest wallet has   500
The fattest wallet has   500
Theskinniestwallethas     10
total = 618

'total is $618'

#### Multiples of Ten
- Make a list of the first ten multiples of ten (10, 20, 30... 90, 100). There are a number of ways to do this, but try to do it using a list comprehension. Print out your list.

#### Cubes
- We saw how to make a list of the first ten squares. Make a list of the first ten cubes (1, 8, 27... 1000) using a list comprehension, and print them out.

#### Awesomeness
- Store five names in a list. Make a second list that adds the phrase "is awesome!" to each name, using a list comprehension. Print out the awesome version of the names.

In [14]:
list(x**3 for x in range(1,11))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
mul=list(number * 10 for number in range(1,11))
print(mul)


multiples=list(range(10,110,10))
print(multiples)

#More powerful method is to use list and for loop inside it

#My use
newlist=[]
for i in list(range(1,11)):
    newlist.append(i**3)
print(newlist)

#Solutions assignments
cubes = list(number**3 for number in range(1,11))

In [15]:
name=['ram','sham','lam','tam','nam']
newname=[]
for i in list(range(0,len(name))):
    newname.append(name[i]+" is awesome")
    print(newname[i])

ram is awesome
sham is awesome
lam is awesome
tam is awesome
nam is awesome

In [17]:
name=['ram','sham','lam','tam','nam']
newname=[]
for i in name:
    newname.append(i+" is awesome")
    print(newname[-1])

ram is awesome
sham is awesome
lam is awesome
tam is awesome
nam is awesome

In [24]:
names=['ram','sham','lam','tam','nam'] 
#Similarly
awesome = list(name+' is awesome!' for name in names)
for i in awesome:print(i)

ram is awesome!
sham is awesome!
lam is awesome!
tam is awesome!
nam is awesome!

#### Listing a Sentence
- Store a single sentence in a variable. Use a for loop to print each character from your sentence on a separate line.

In [25]:
var="my name is aayush kubba"
varlist=var.split(" ")
print(varlist)
for i in varlist:
    print(i)

['my', 'name', 'is', 'aayush', 'kubba']
my
name
is
aayush
kubba

In [29]:
var="my name is aayush kubba"
for i in var.split("is"):
    print(i)

my name
 aayush kubba

In [30]:
var="Aayush,Ram,Sham,Rishi,Sanjay"
for i in var.split(","):
    print(i)

Aayush
Ram
Sham
Rishi
Sanjay

In [32]:
var="Aayush,Ram,Sham,Rishi,Sanjay"
names=[]
for i in var.split(","):
    print(i)
    names.append(i)

Aayush
Ram
Sham
Rishi
Sanjay

In [33]:
names

['Aayush', 'Ram', 'Sham', 'Rishi', 'Sanjay']

In [34]:
var="Aayush,Ram,Sham,Rishi,Sanjay"
names=list(i for i in var.split(","))
names

['Aayush', 'Ram', 'Sham', 'Rishi', 'Sanjay']

#### Sentence List
- Store a single sentence in a variable. Create a list from your sentence. Print your raw list (don't use a loop, just print the list).

In [35]:
var="my name is aayush kubba"
varlist=list(var.split())
print(var)
print(varlist)

my name is aayush kubba
['my', 'name', 'is', 'aayush', 'kubba']

#### Sentence Slices
- Store a sentence in a variable. Using slices, print out the first five characters, any five consecutive characters from the middle of the sentence, and the last five characters of the sentence.

In [36]:
var="my name is aayush kubba"
print(var[:5])
print(var[5:11])
print(var[-5:])

my na
me is
kubba

#### Sentence Slices
- Store a sentence in a variable. Using slices, print out the first five words, any five consecutive words from the middle of the sentence, and the last five words of the sentence.

In [38]:
var="my name is aayush kubba How are you doing?"
var_lt=list(var.split())
print(var_lt[:5])
print(var_lt[5:11])
print(var_lt[-5:])

['my', 'name', 'is', 'aayush', 'kubba']
['How', 'are', 'you', 'doing?']
['kubba', 'How', 'are', 'you', 'doing?']

#### Finding Python
- Store a sentence in a variable, making sure you use the word *Python* at least twice in the sentence.
- Use the *in* keyword to prove that the word *Python* is actually in the sentence.
- Use the *find()* function to show where the word *Python* first appears in the sentence.
- Use the *rfind()* function to show the last place *Python* appears in the sentence.
- Use the *count()* function to show how many times the word *Python* appears in your sentence.
- Use the *split()* function to break your sentence into a list of words. Print the raw list, and use a loop to print each word on its own line.
- Use the *replace()* function to change *Python* to *Ruby* in your sentence.

In [40]:
len(sent)

35

In [39]:
sent="This is python saying, hello python"
print('python' in sent)
print(sent.find('python'))
print(sent.rfind('python'))
print(sent.count('python'))

varlist=sent.split(" ")
print(varlist)
for i in varlist:
    print(i)
    
print(sent.replace("python","ruby"))

True
8
29
2
['This', 'is', 'python', 'saying,', 'hello', 'python']
This
is
python
saying,
hello
python
This is ruby saying, hello ruby