### TUPLES
- Collection of elements with different data types`

- Tuple is an ordered sequence of items same as list.`

- The only difference is that tuples are immutable. Tuples once created cannot be modified.`

- Tuples are just like lists, but you cannot modify their values. The initial values are the values that will stay for the rest of the program.`

- The easiest way to create one is with a comma-separated sequence of values.
- created by () and tuple()
- The easiest way to create one is with a comma-separated sequence of values.

In [24]:
tup = 10 ,20 ,30,40,50,"DataFolkz"
type(tup)
tup[2]

30

In [25]:
type(tup)

tuple

In [26]:
tup[0]

10

### Convert any sequence or iterator to a tuple by invoking tuple function.

In [28]:
List1 = [40,50,60,"AI", 'ML']
List1

[40, 50, 60, 'AI', 'ML']

In [39]:
type(List1)

list

In [38]:
tuple1 = tuple(List1) 
print(tuple1)# converted from list to tuple
print(type(tuple1))

(40, 50, 60, 'AI', 'ML')
<class 'tuple'>

In [35]:
tuple('python')  # using Strings

('p', 'y', 't', 'h', 'o', 'n')

### Iterators

- An iterator is an object that contains a countable number of values.

- An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.

### Iterator vs Iterable

- Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable containers which you can get an iterator from.`

- All these objects have a iter() method which is used to get an iterator:

In [42]:
my_tup = ('DataFolkz',1,2,3,5.8,True)
my_tup

('DataFolkz', 1, 2, 3, 5.8, True)

In [43]:
type(my_tup)

tuple

In [44]:
# Indexing 

my_tup[0]

'DataFolkz'

In [45]:
my_tup[-1]

True

In [46]:
my_tup[:3]

('DataFolkz', 1, 2)

In [47]:
my_tup.count(1)

2

In [48]:
my_tup.index(5.8)

4

In [50]:
# append 'Technology' in tuple
my_tup.a

AttributeError: 'tuple' object has no attribute 'append'

# Converting into List from tuple

- to make make the change something convert the tuple into list and change it.

In [16]:
# Convert tuple into list
# list
list1 = list(my_tup)
list1

['DataFolkz', 1, 2, 3, 5.8, True]

In [17]:
type(list1)

list

In [18]:
list1.append('Technology')

In [19]:
list1

['DataFolkz', 1, 2, 3, 5.8, True, 'Technology']

# Converting from List to Tuple

In [20]:
# convert into tuple
my_tup1 = tuple(list1)

In [21]:
type(my_tup1)

tuple

In [22]:
my_tup1

('DataFolkz', 1, 2, 3, 5.8, True, 'Technology')