### Lambda function in python
- A lambda function is a small anonymous function.

- A lambda function can take any number of arguments, but can only have one expression.

#### Syntax

lambda arguments : expression

The expression is executed and the result is returned:

In [1]:
def addition(a,b):
    c = a+b
    return c

In [2]:
addition(1,2)

3

***more simpler way***

In [4]:
def addition1(a,b):
    return a+b

In [5]:
addition1(1,2)

3

***more simpler way***

In [7]:
def addition2(a,b): return a+b

In [8]:
addition2(2,3)

5

***more simpler way***

In [3]:
add_lam = lambda a,b: a+b

In [4]:
add_lam(5,3)

8

**Create a lambda function to find even numbers**

In [5]:
find_even = lambda x : x%2 == 0

In [6]:
find_even(13)

False

**Similarly find odd**

In [19]:
find_odd = lambda x : x%2 != 0

In [6]:
find_odd(18)

False

Lambda functions can take any number of arguments:

##### Why Use Lambda Functions?
- The power of lambda is better shown when you use them as an anonymous function inside another function.
- Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:
- An anonymous function is a function with out a name
- While normal functions are defined using the def keyword in python ,anonymous functions are defined using lambda keyword.
- We use lambda functions when we require a nameless function for a short period of time.
- Lambda functions are used aong with built-in functions like filter(),map()

In [9]:
def myfunc(n):
    return lambda a : a * n
mydoubler = myfunc(2)
mydoubler(12)
mytripler = myfunc(3)

- Use that function definition to make a function that always doubles the number you send in:

In [10]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)
my4times  = myfunc(4)

print(mydoubler(11))
print(mytripler(11))
print(my4times(11))

22
33
44

- Or, use the same function definition to make a function that always triples the number you send in:

In [3]:
def myfunc(n):
    return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

- Or, use the same function definition to make both functions, in the same program:

In [10]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

- Use lambda functions when an anonymous function is required for a short period of time.

### Create a list from 300 to 700 with a step of 3 

- in that list1 find even numbers and prepare new list and name it as list2

In [16]:
List1 = list(range(300,700,3))
type(List1)

list

In [12]:
print(List1)

[300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699]

### Without lambda function using for and if looping to identify the even numbers from list1

In [13]:
List2 = [] # Creating an empty list
for i in List1:
    if i%2 == 0:
        List2.append(i) # Appending the even numbers to the empty list
print(List2)

[300, 306, 312, 318, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 384, 390, 396, 402, 408, 414, 420, 426, 432, 438, 444, 450, 456, 462, 468, 474, 480, 486, 492, 498, 504, 510, 516, 522, 528, 534, 540, 546, 552, 558, 564, 570, 576, 582, 588, 594, 600, 606, 612, 618, 624, 630, 636, 642, 648, 654, 660, 666, 672, 678, 684, 690, 696]

### lambda function

In [14]:
List2 = []
for i in List1:
    if find_even(i):
        List2.append(i)
print(List2)

[300, 306, 312, 318, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 384, 390, 396, 402, 408, 414, 420, 426, 432, 438, 444, 450, 456, 462, 468, 474, 480, 486, 492, 498, 504, 510, 516, 522, 528, 534, 540, 546, 552, 558, 564, 570, 576, 582, 588, 594, 600, 606, 612, 618, 624, 630, 636, 642, 648, 654, 660, 666, 672, 678, 684, 690, 696]

***more simpler way***

# Filter

**Takes a function and list as arguments**

In [18]:
list2 = list(filter(find_even,List1))

In [19]:
print(list2)

[300, 306, 312, 318, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 384, 390, 396, 402, 408, 414, 420, 426, 432, 438, 444, 450, 456, 462, 468, 474, 480, 486, 492, 498, 504, 510, 516, 522, 528, 534, 540, 546, 552, 558, 564, 570, 576, 582, 588, 594, 600, 606, 612, 618, 624, 630, 636, 642, 648, 654, 660, 666, 672, 678, 684, 690, 696]

### find out the values in list1 which are divided by 5 using filter

In [2]:
def find_div_5(num):
    return num%5 == 0

In [3]:
find_div_5(7)

False

In [21]:
find_div_5_lam = lambda num : num%5 == 0

In [22]:
list3 = list(filter(find_div_5,List1))
list4 = list(filter(find_div_5_lam,List1))

In [23]:
print(list3)

[300, 315, 330, 345, 360, 375, 390, 405, 420, 435, 450, 465, 480, 495, 510, 525, 540, 555, 570, 585, 600, 615, 630, 645, 660, 675, 690]

In [24]:
print(list4)

[300, 315, 330, 345, 360, 375, 390, 405, 420, 435, 450, 465, 480, 495, 510, 525, 540, 555, 570, 585, 600, 615, 630, 645, 660, 675, 690]

**find a list with values in list1 which are not divisible by 5**

In [19]:
list4 = filter(lambda num : num%5 != 0, List1)
print(list4)

<filter object at 0x000001EF3C661648>

In [20]:
print(list(list4))

[303, 306, 309, 312, 318, 321, 324, 327, 333, 336, 339, 342, 348, 351, 354, 357, 363, 366, 369, 372, 378, 381, 384, 387, 393, 396, 399, 402, 408, 411, 414, 417, 423, 426, 429, 432, 438, 441, 444, 447, 453, 456, 459, 462, 468, 471, 474, 477, 483, 486, 489, 492, 498, 501, 504, 507, 513, 516, 519, 522, 528, 531, 534, 537, 543, 546, 549, 552, 558, 561, 564, 567, 573, 576, 579, 582, 588, 591, 594, 597, 603, 606, 609, 612, 618, 621, 624, 627, 633, 636, 639, 642, 648, 651, 654, 657, 663, 666, 669, 672, 678, 681, 684, 687, 693, 696, 699]

In [7]:
print(list1)

[300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699]

In [2]:
# Method 1 without map
List1 = list(range(300,700,3))
list5 = []
for i in List1:
    list5.append(i-300)
    
print (list5)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399]

# Map

**map(func,iterables)**

- Making an iterable computes the function using arguments with each iterables

### In list1 subtract all values with 300

In [23]:
# Method 2 to subtract all values
sub_lam = lambda x : x - 300

In [25]:
list6 = map(sub_lam,List1)
print(list(list6))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399]

### find square of all values in list1

In [26]:
pow = lambda x : x**2

In [28]:
list7 = map(pow,List1)

In [29]:
print(list(list7))

[90000, 91809, 93636, 95481, 97344, 99225, 101124, 103041, 104976, 106929, 108900, 110889, 112896, 114921, 116964, 119025, 121104, 123201, 125316, 127449, 129600, 131769, 133956, 136161, 138384, 140625, 142884, 145161, 147456, 149769, 152100, 154449, 156816, 159201, 161604, 164025, 166464, 168921, 171396, 173889, 176400, 178929, 181476, 184041, 186624, 189225, 191844, 194481, 197136, 199809, 202500, 205209, 207936, 210681, 213444, 216225, 219024, 221841, 224676, 227529, 230400, 233289, 236196, 239121, 242064, 245025, 248004, 251001, 254016, 257049, 260100, 263169, 266256, 269361, 272484, 275625, 278784, 281961, 285156, 288369, 291600, 294849, 298116, 301401, 304704, 308025, 311364, 314721, 318096, 321489, 324900, 328329, 331776, 335241, 338724, 342225, 345744, 349281, 352836, 356409, 360000, 363609, 367236, 370881, 374544, 378225, 381924, 385641, 389376, 393129, 396900, 400689, 404496, 408321, 412164, 416025, 419904, 423801, 427716, 431649, 435600, 439569, 443556, 447561, 451584, 455625, 459684, 463761, 467856, 471969, 476100, 480249, 484416, 488601]

### Sum of elements in the list1

In [4]:
num = 0
for i in List1:
    num = num + i    
print(num)

66933

# Reduce

**Takes two arguments cummulatively and reduces the sequence**

In [20]:
addition = lambda x,y : x+y

In [21]:
print(List1)

[300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699]

In [23]:
import functools 
from functools import reduce

In [24]:
reduce(addition,List1)

66933

In [19]:
list10 = [50,55,60,65,70,72,99,54,10,201,210,98,300,110,123]

In [18]:
find_greater = lambda x,y : x if x>y else y
find_greater(30,45)

45

In [20]:
list11 = [50,110,100,95]
reduce(find_greater,list11)

110

In [21]:
reduce(find_greater,list10)

300

**Difference between Map and Filter**

In [45]:
print(list1)

[300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699]

In [37]:
list4 = filter(lambda num : num%5 != 0, List1)
print(list(list4))

[303, 306, 309, 312, 318, 321, 324, 327, 333, 336, 339, 342, 348, 351, 354, 357, 363, 366, 369, 372, 378, 381, 384, 387, 393, 396, 399, 402, 408, 411, 414, 417, 423, 426, 429, 432, 438, 441, 444, 447, 453, 456, 459, 462, 468, 471, 474, 477, 483, 486, 489, 492, 498, 501, 504, 507, 513, 516, 519, 522, 528, 531, 534, 537, 543, 546, 549, 552, 558, 561, 564, 567, 573, 576, 579, 582, 588, 591, 594, 597, 603, 606, 609, 612, 618, 621, 624, 627, 633, 636, 639, 642, 648, 651, 654, 657, 663, 666, 669, 672, 678, 681, 684, 687, 693, 696, 699]

In [38]:
list4 = map(lambda num : num%5 != 0, List1)
print(list(list4))

[False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True, True, False, True, True, True]